body{
  background-color: #c5cbd8;
}
.titleStyle{
  font-family: 'Josefin Sans', sans-serif;
  color: red;
}
.navbar{
  background-color: #f9c063;
}

.index{
  padding-top: 40px;
  margin-bottom: : 300px;

}
