<div class="row">
  <div class="index col-md-12">
    <h1>Mav's Favourite TV Series Collection</h1>
    <% @toys.each do | toy | %>
    <h3> <a href="<%= toy.id %>"><%= toy.title %></a> </h3>
    <p><%= toy.toy_body%></p>
    <% end %>
  </div>
</div>
